body td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #444;
}
body{
	width: 800px;
	margin:30px auto;
}
fieldset {
	padding:10px;
	border-radius: 5px;
	-webkit-box-shadow :5px;
	-moz-box-shadow: 5px;
}
legend {
	text-transform: uppercase;
	color: #0A71A5;
	font-weight: bold;
	font-size: 14px;
}
#layout{
	border-radius: 10px;							/* 4 góc đều được uốn cong */
	-webkit-border-radius: 10px;
	-moz-box-shadow: 10px;
	box-shadow: 1px 1px 7px #333333; 				/* định vị trí bóng nằm dọc và ngang  */
	-moz-box-shadow: 1px 1px 7px #333333 ; 		/* hỗ trợ cho firefox */
	-webkit-box-shadow :1px 1px 7px #333333; 		/* hỗ trợ cho Chrome + Safira */
}
#top {
	line-height: 50px;
	background: #999966;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	
	height: 60px;
	border-radius: 5px 5px 0px 0px;				/*Top-left Top-right 0 0*/
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
#menu {
    background-color: #E5E5E5;
	padding:3px;
	font-weight: bold;

}
#main {
	padding: 10px;
}
#bottom {
	line-height: 40px;						/* thiết lập chiều cao giữa các dòng */
	text-align: center;
	font-size: 16px;

	background: #999966;
	height: 35px;
	border-radius: 0px 0px 5px 5px;				/*0 0 Bottom-left Bottom-right*/
    -moz-border-radius: 0px 0px 5px 5px;		
    -webkit-border-radius: 0px 0px 5px 5px;
}
.err {
	color: red;
	margin-left :155px;
	margin-bottom: 20px;
}

